<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
<key>NSLocationWhenInUseUsageDescription</key>
<string>MapExplorer necesita tu ubicación para mostrar el mapa y descubrir lugares cercanos.</string>

<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>MapExplorer usa tu ubicación en segundo plano para registrar los tiles que exploras.</string>

<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
</plist>
